{% extends "layout.html" %}

<form class="form-unirse">
    <input type="text" id="nombre" placeholder="Tu nombre" required> 
    <input type="text" id="foro" placeholder="Foros" required>
    <button id="unirse" type="submit">Unirse</button>
</form>

<ul class="unirse"></ul>

<p class="lista_usuarios"></p>

<p class="lista_foro"></p>

<p class="actividad"></p>

<form class="form-mensaje">
    <input type="text" id="mensaje" placeholder="Tu mensaje" required>
    <button type="submit">Enviar</button>
</form>

{% block content %}
{% endblock %}