.biblioteca{
    display:grid;
    grid-template-columns:1fr 2fr;  
    flex:1;
    /* padding: 3% 0%; */
    /* overflow: hidden; */
    list-style:none;
    aside{
      border:2px solid black;
      *{
        list-style: none;
      }
    }
  }
.desplegar{
ul{
    display: none; 
}
}
.opciones{
    position: relative;
    width:100%;
}
.puntos{
    /* display:inline-block; */
    /* rotate: 90deg; */
    /* margin-left: 1%; */
    /* translate: translateY(-50%); */
    position:relative;
}
.puntos::before{
    display:block;
    content:"...";
    rotate: 90deg;
    position: absolute;
    margin: 50% 25%;
    width: 100%;
    text-align: center;
}
.puntos-mostrar{
    display: none;
    border:2px solid black;
    width: 25vh;
    padding: 0% 5%;
}
.menu{
    display: none;
}
.main-opciones{
    display: grid;
    grid-template-columns: max-content 10% auto;
}
.mostrar-opcion{
    display: block;
    .menu{
        display: block;
    }
}
.esconder-opcion{
    display: none;
    .main-opciones,.menu{
        display: none;
    }
}
.esconder{
    display:none;
}
.mostrar-2{
    display: block;
}
/* .desplegar:focus{
ul{
    display: block;
}
}
.opciones::before{
display: block;
content:"...";
font-size: x-large;
width: max-content;
position: absolute;
rotate: 90deg;
top:-50%;
left:150%;
} */