@import url("./biblioteca.css");

@font-face {
  font-family: 'Mifuente';
  src: url('../fuentes/Raleway-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
}

body {
  width: 100%;
  height: 100%;
  margin: 0%;
  font-family: 'Mifuente';
  background-color: #f2f2f2;
}

nav {
  width: 100%;
  height: auto;
  margin: 0;
  background-color: #201e1a;
  color: #f2f2f2;
  overflow-wrap: break-word;
  box-sizing: border-box;

  .nombre-proyecto {
    font-size: 3vh;
    text-align: justify;
    overflow-wrap: break-word;
    color: #f2f2f2;
  }

  ul {
    list-style: none;
    justify-content: center;
    padding: 1%;
    display: flex;
    flex-direction: row;
    margin: 0;
    font-size: 100%;
    align-items: center;
  }

  li {
    padding: .1%;
    text-align: center;
    align-items: center;
    font-size: 100%;
    margin: 0% 1%; 
    height: 100%;
    width: auto;
    flex:auto;
  }

  .menu_desplegable {
    width: 120%;
    height: auto;
    border: 0;
    padding: 0%;
    font-family: 'Mifuente';
    font-size: 100%;
    background-color: #201e1a;
    color: #f2f2f2;
  }

  .dropdown {
    background-color: #201e1a;
    font-family: 'Mifuente';
    color: #ffffff;
    display: inline;
    position: relative;
    width: 100%;
  }

  .dropdown-content {
    text-align: start;
    padding-top: 5%;
    margin-top: 1%;
    display: none;
    border-radius: 7px;
    position: absolute;
    min-width: 250%;
    overflow: auto;
    background-color: #201e1a;
    color: #f2f2f2;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content1 {
    text-align: start;
    padding-top: 5% ;
    margin-top: 1%;
    display: none;
    border-radius: 7px;
    position: absolute;
    width: 100%;
    overflow: auto;
    background-color: #201e1a;
    color: #f2f2f2;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content1 {
    display: block;
  }

  .dropdown-content a {
    display: block;
    padding: 5%;
    text-decoration: none;
  }

  .dropdown-content a:hover {
    color: #f2f2f2;
    background-color: #1a3a4f;
  }


  a {
    text-decoration: none;
    color: #f2f2f2;
  }

  .cerrarsesion {
    width: 100%;
    height: 5vh;
    background-image: url(/static/fotos/iconos/cerrar_sesion.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  width: 100%;
}

.form-inicio_sesi,
.form-registro,
.form-vericorreo_registro,
.form-vericorreo_acceso {
  width: 100%;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.datos {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 57vh;
  font-size: calc(min(3.5vw, 3.5vh));
  --TransitionDuration: 1s;
}

.datos fieldset {
  transition: translate var(--TransitionDuration) ease;
  position: relative;
  display: none;
  width: 80%;
  min-height: 80%;
  padding: 4%;
  border-radius: 28px;
  border: none;
  background-color: #68757a;

}

.fieldactive {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-wrap: wrap;
  flex: 0 0 auto;
}


.izquierda,
.derecha {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #120e11;
  text-wrap: wrap;
  min-height: 100%;
}

.izquierda p {
  width: 80%;
}

.derecha input {
  border-radius: 7px;
  display: block;
  border: none;
  width: 90%;
  height: 6vh;
  margin: 1%;
  padding: 1%;
  font-size: 1em;
  text-align: justify;
}

.derecha .input {
  padding: 0;
  border: none;
  margin: 0;
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
}

.derecha .input1 {
  padding: 0;
  border: none;
  margin: 0;
  background-color: #f2f2f2;
  width: 84%;
  height: 100%;
}

.mostrar {
  width: 15%;
  height: 100%;
  background-image: url(/static/fotos/iconos/esconder.png);
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  border: none;
}

.derecha .alminp {
  border-radius: 7px;
  border: none;
  width: 100%;
  height: auto;
  height: 6vh;
  margin: 1.5% 0%;
  padding: 0%;
  font-size: 1em;
  text-align: justify;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
}

.derecha .alminp:focus-within{
  z-index: 2;
}

.derecha #enviar {
  border-radius: 3px;
  border: none;
  margin-top: 4%;
  padding: 3%;
  width: auto;
  color: #f2f2f2;
  background-color: #4d5459;
  cursor: pointer;
}

.derecha #enviar:hover {
  color: #68757a;
  background-color: #120e11;
  width: 30%;
}

.botones {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
}

.botones button,
.boton-1 {
  height: 8vh;
  width: calc(min(30vh, 30vw));
  text-wrap: wrap;
}

.botones #atras,
.botones #siguiente {
  border-radius: 3px;
  border: none;
  margin: 1%;
  padding: .5%;
  width: 12%;
  background-color: #201e1a;
  color: #f2f2f2;
}

#registrarse {
  flex: 100% !important;
  margin-top: 2%;
}

.texto {
  color: #f2f2f2;
  font-size: 80%;
  margin-bottom: 3%;
}

.animacion {
  transition: translateX(0);
}

.desaparecer {
  transition: opacity .2s ease-in;
}


.centrar-texto {
  text-align: center;

  a {
    text-decoration: none;
    color: #f2f2f2;
  }

  #btn-cambio {
    border-radius: 3px;
    border: none;
    margin-top: 1%;
    padding: 1% 2% 1% 2%;
    background-color: #1a3a4f;
  }

}

.peticiones {
  align-items: center;
  text-align: center;
  background-color: #4d5459;
  width: 90%;
  margin-top: 3%;
  padding: 2%;
  border-radius: 28px;

  #seleccionar {
    background-color: #ffffff;
    width: 15%;
    padding: 1%;
    text-align: center;
    align-items: center;
  }

  .texto {
    color: #f2f2f2;
    font-size: 100%;
    margin-bottom: 1%;
  }

  input {
    color: #120e11;
    border-radius: 7px;
    border: none;
    width: 80%;
    height: 6vh;
    margin: 1%;
    font-size: 1em;
    text-align: center;
  }

  #labelarchivo {
    display: inline-block;
    border-radius: 3px;
    border: none;
    margin-top: 3%;
    padding: 1%;
    width: 30%;
    color: #f2f2f2;
    background-color: #2b4d5b;
    cursor: pointer;

    input {
      display: none;
      width: 100%;
    }

  }

  #labelarchivo:hover {
    color: #68757a;
    background-color: #120e11;
  }

  #enviar {
    border-radius: 3px;
    border: none;
    margin-top: 3%;
    padding: 1.1%;
    width: 9%;
    color: #f2f2f2;
    background-color: #2b4d5b;
    cursor: pointer;
  }

  #enviar:hover {
    color: #68757a;
    background-color: #120e11;
    width: 9.5%;
  }
}



.crud {
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: row;
  text-align: center;
  height: 100%;
  width: 200%;

  #buscador {
    background-color: #1a3a4f;
    width: 70%;
    padding: 1%;
    border-radius: 6px;
    border: none;
    border-color: none;
    color: #f2f2f2;
  }

  table {
    background-color: #333a3f;
    color: #f2f2f2;
    font-size: 86%;
    border-radius: 8px;
    border: none;
    padding: 2%;
    margin-left: 2.5%;
    width: 95%;
    height: auto;
  }

  tr {
    border-color: #333a3f;
    background-color: #120e11;
  }

  td {
    border: 1%;
    border-radius: 5px;
    padding: 1%;
    border-color: #333a3f;
    background-color: #120e11;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #f2f2f2;
  }

  .cleanBar {
    display: none;
  }
}
