<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud de usuarios del administrador</title>
    <style> 
        .filtro {
        display: none;
        }

        .cleanBar {
            display: none;
        }
    </style>
</head>
<body>
    <h1>CRUD ADMINISTRADOR</h1> 

    <input type="text" name="buscador" id="buscador" placeholder="Buscar..."> <i class="cleanBar">X</i> <br><br>

    <table border="2px">
        <thead><tr>
            <td>ID del usuario</td>
            <td>Apodo</td>
            <td>Nivel</td>
            <td>Nombres</td>
            <td>Apellido</td>
            <td>Correo</td>
            <td>Teléfono</td>
            <td>Estado de la cuenta</td>
        </tr></thead>

        <tbody>
            {% for perfil in perfiles %}
            <tr name="fila">
                <td> {{perfil[0]}} </td>
                <td> {{perfil[1]}} </td>
                <td> {{perfil[2]}} </td>
                <td> {{perfil[3]}} </td>
                <td> {{perfil[4]}} </td>
                <td> {{perfil[5]}} </td>
                <td> {{perfil[6]}} </td>
                <td> <a href="/changeStatusAccount/{{perfil[0]}}/{{perfil[7]}}">
                {% if perfil[7] == 1 %}
                     Desactivar cuenta 
                {% elif perfil[7] == 0 %}
                     Activar cuenta
                {% endif %} </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        const filas = document.getElementsByName("fila");
        const botonX = document.querySelector(".cleanBar");

        botonX.addEventListener("click", () => {
            document.getElementById("buscador").value = "";
            filas.forEach (fila => {
                fila.classList.remove("filtro");
            })
            botonX.classList.add("cleanBar");
        })

        document.addEventListener("keyup", (e) => {
            if (e.target.matches('#buscador')) {

                filas.forEach( fila => {
                let data = `${fila.children[0].innerText} ${fila.children[2].innerText} ${fila.children[3].innerText}`; 

                data.toLowerCase().includes(e.target.value.toLowerCase()) 
                ? fila.classList.remove("filtro") 
                : fila.classList.add("filtro");

                botonX.style.display = e.target.value ? botonX.classList.remove("cleanBar") : botonX.classList.add("cleanBar");
                })
            }
        })
    </script>
</body>
</html>

<!--
INSERT INTO `perfil`(`id_perfil`, `nivel`, `nombres`, `apellidos`, `apodo`, `correo`, `telefono`, `contraseña_encript`, `cuenta_activa`) VALUES (1,'Basico','Anakin','Skywalker','skywito','jedikiller@republic.com','0987654321','dfgsjhwerytre675fdsg','0'), 
(2,'Basico','Ahsoka','Tano','sabionda','sabionda@republic.com','0987437321','dfdsgy546fsg','0'), 
(3,'Basico','Padme','Amidala','padme','senadora@republic.com','1234356780','ghjewrt','0'), 
(4,'Medio superior','Mace','Windu','nigga','master@republic.com','1234554321','fdtryehgfgjhgj','0'), 
(5,'Medio superior','Yoda','no se','chiquillo','masterYoda@republic.com','1245678345','fdgreyrtyasdf','1'), 
(6,'Medio superior','Obi-Wan','Kenobi','Ben Kenobi','jediknight@republic.com','1234567890','ooofghrytrydfg','1'), 
(7,'Superior','El Padre','Father','father','father@force.com','4532567890','weewrwedhytuy','1'), 
(8,'Superior','La Hija','Daughter','daughter','daughter@force.com','3331234157','fdgfhfghyt','1'), 
(9,'Superior','El Hijo','Son','son','son@force.com','5677654563','fdsgdgretfdsg','0'),
(10,'Basico','Luke','Skywalker','rebelde','jedi@rebellion.com','1234560987','ghjfhgjbvnvcnvbn','1')
-->