<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud de peticiones del administrador</title>
    <style> 
        .filtro {
        display: none;
        }

        .cleanBar {
            display: none;
        }
    </style>
</head>
<body>
    <h1>CRUD DE PETICIONES DEL ADMINISTRADOR</h1> 

    <input type="text" name="buscador" id="buscador" placeholder="Buscar..."> <i class="cleanBar">X</i> <br><br>

    <table border="2px">
        <thead><tr>
            <td>ID petición</td>
            <td>ID usuario</td>
            <td>Apodo del usuario</td>
            <td>Correo del usuario</td>
            <td>Mensaje</td>
            <td>Archivo</td>
            <td>Link</td>
            <td>Fecha de la petición</td>
            <td>Hora de la petición</td>
            <td colspan="2">Acciones</td>
        </tr></thead>

        <tbody>
            {% for peticion in peticiones %}
            <tr name="fila">
                <td> {{peticion[0]}} </td>
                <td> {{peticion[1]}} </td>
                <td> {{peticion[2]}} </td>
                <td> {{peticion[3]}} </td>
                <td> {{peticion[4]}} </td>
                <td> Archivo </td>
                <td> {{peticion[6]}} </td>
                <td> {{peticion[7]}} </td>
                <td> {{peticion[8]}} </td>
                <td><a href="/aceptarpeticion/{{peticion[0]}}">Aceptar petición</a></td>
                <td><a href="/rechazarpeticion/{{peticion[0]}}">Rechazar petición</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        const filas = document.getElementsByName("fila");
        const botonX = document.querySelector(".cleanBar");

        botonX.addEventListener("click", () => {
            document.getElementById("buscador").value = "";
            filas.forEach (fila => {
                fila.classList.remove("filtro");
            })
            botonX.classList.add("cleanBar");
        })

        document.addEventListener("keyup", (e) => {
            if (e.target.matches('#buscador')) {

                filas.forEach( fila => {
                let data = `${fila.children[2].innerText} ${fila.children[3].innerText}`; 

                data.toLowerCase().includes(e.target.value.toLowerCase()) 
                ? fila.classList.remove("filtro") 
                : fila.classList.add("filtro");

                botonX.style.display = e.target.value ? botonX.classList.remove("cleanBar") : botonX.classList.add("cleanBar");
                })
            }
        })
    </script>
</body>
</html>