{% extends "layout.html" %}

{% block content %}
<div class="biblioteca">
    <aside class="">
        <div class="buscador">
            <input type="text" id="buscador" autofocus placeholder="Buscar">
            <!-- <button>Buscar</button> -->
            <a href="/docs">Ir a todos los docs</a>
        </div>

        <ul class="materias">
            {% set countTema=namespace(value=0) %}
            {% set countSubTema=namespace(value=0) %}
            <!-- aqui va un for -->
            {% for categoria in categorias %}
            <li > <!--contenedor de cada materia-->
                <div class="main-opciones categoria">
                    <h5 class="opciones desplegar" id="{{categoria.0}}" title="{{categoria.2}}">
                        {{categoria.1}}
                    </h5>
                    <span class="puntos"></span>
                    <article class="puntos-mostrar">
                        <option value="">foro</option>
                        <option value="">documentos</option>
                        
                    </article>
                </div>

                <ul class="menu menu-categoria">
                    {% if limiteTemas!=countTema.value %}
                        {% if Temas[countTema.value].0 == categoria.0 %}
                            <!-- sale cuando dan click-->
                            {% for Tema in Temas[countTema.value][1:] %}
                                <li>
                                    <div class="main-opciones Tema">
                                        <h5 class="opciones desplegar" id="{{Tema.0}}" title="{{Tema.2}}">
                                            {{Tema.1}}
                                        </h5>
                                        <span class="puntos"></span>
                                        <article class="puntos-mostrar">
                                            <option value="">documentos</option>
                                            <option value="">articulos</option>
                                            
                                        </article>
                                    </div>  
                                    <ul class="menu">
                                        {% if limiteSubtemas!=countSubTema.value %}
                                            {% if(Subtemas[countSubTema.value].0 == Tema.0) %}
                                                {% for Subtema in Subtemas[countSubTema.value][1:] %}
                                                    <li>
                                                        <div class="main-opciones Subtema">
                                                            <h5 class="opciones" id="{{Subtema.0}}" title="{{Subtema.2}}">
                                                                {{Subtema.1}}
                                                            </h5>
                                                            <span class="puntos"></span>
                                                            <article class="puntos-mostrar">
                                                                <option value="">documentos</option>
                                                                <option value="">articulos</option>
                                                                
                                                            </article>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                                {% set countSubTema.value = countSubTema.value+1 %}
                                            {% endif %}
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endfor %}
                            {% set countTema.value = countTema.value+1 %}
                        {% endif %}
                    {% endif %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </aside>
    <section></section>
</div>

<script src="/static/js/biblioteca.js"></script>
{% endblock %}