{% extends "layout.html" %}

{% block content %}
<div class="biblioteca">
    <aside class="">
        <div class="buscador">
            <input type="text" placeholder="buscar...">
            <button>Buscar</button>
        </div>

        <ul class="materias">
            {% set count=namespace(value=0) %}
            <!-- aqui va un for -->
            {% for categoria in categorias %}
            <li > <!--contenedor de cada materia-->
                <div class="main-opciones">
                    <h5 class="opciones desplegar" id="{{categoria.0}}" title="{{categoria.2}}">
                        {{categoria.1}}
                    </h5>
                    <span class="puntos">...</span>
                    <article class="puntos-mostrar">
                        <option value="">foro</option>
                        <option value="">documentos</option>
                        <option value="">Cerrar</option>
                    </article>
                </div>

                <ul class="menu">
                    {% if temas[count.value].0 == categoria.0 %}
                        <!-- sale cuando dan click-->
                        {% for tema in temas[count.value][1:] %}
                            <li>
                                <h5 class="opciones" id="{{tema.0}}" title="{{tema.2}}">
                                    {{tema.1}}
                                    <span class="puntos">...</span>
                                    <article class="puntos-mostrar">
                                        <option value="">documentos</option>
                                        <option value="">articulos</option>
                                        <option value="">Cerrar</option>
                                    </article>
                                </h5>
                            </li>
                        {% endfor %}
                        {% set count.value = count.value+1 %}
                    {% endif %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </aside>
    <section></section>
</div>

<script src="/static/js/biblioteca.js"></script>
{% endblock %}