{% extends "layout.html" %}

{% block content %}

<form method="post" enctype="multipart/form-data" class="peticiones">

    <h1>Peticiones</h1>

    <div class="titulo">Ingrese el archivo con las especificaciones o en dado caso el link:</div>


    <input type="text" name="mensaje" class="input" placeholder="Mensaje...">
    <input type="text" name="link" id="link" class="input" placeholder="Link">
    <input type="file" name="archivo" id="archivo" class="archivo">
    <button type="submit" class="enviar">Enviar</button>

</form>
<!-- pdfs, imágenes, documentos de office, videos, txt -->
{% endblock %}