{% extends "layout.html" %}
{% block content %}

<div class="container">

    {% if mensaje %}
    {{mensaje}}
    {% endif %}

    <form action="/iniciar_sesion" id="form-inicio_sesi" class="form-inicio_sesi" method="post">

        <div class="datos">

            <fieldset class="fieldactive">

                <div class="izquierda">
                    <h3>Inicio de sesion</h3>
                    <p>Correo Electronico:</p>
                </div>

                <div class="derecha">

                    {% if mensaje1 %}
                    <div class="error">{{ mensaje2 }}</div>
                    {% endif %}
                    <div class="alminp">
                        <input type="email" name="correo" id="correo" class="input"
                            value="{{ form_data['correo'] if form_data['correo'] else '' }}" placeholder="Correo"
                            required>
                    </div>
                </div>
            </fieldset>

            <fieldset class="">

                <div class="izquierda">
                    <h3>Inicio de sesion</h3>
                    <p>Nombre de usuario:</p>
                </div>

                <div class="derecha">

                    {% if mensaje2 %}
                    <div class="error">{{ mensaje2 }}</div>
                    {% endif %}
                    <div class="alminp">
                        <input type="text" name="nombre_usuario" id="nombre_usuario" class="input"
                            value="{{ form_data['nombre_usuario'] if form_data['nombre_usuario'] else '' }}"
                            placeholder="Nombre de Usuario" required>
                    </div>

                </div>
            </fieldset>

            <fieldset class="">

                <div class="izquierda">
                    <h3>Inicio de sesion</h3>
                    <p>Contraseña:</p>
                </div>

                <div class="derecha">

                    {% if mensaje3 %}
                    <div class="error">{{ mensaje2 }}</div>
                    {% endif %}
                    <div class="alminp"> <input type="password" name="contraseña" id="contraseña" class="input1"
                            placeholder="Contraseña" required>
                            <!-- <img src="../static/fotos/iconos/esconder.png" alt=""> -->
                        <button type="button" id="togglePasswordButton" title="Mostrar" class="mostrar"></button>
                    </div>

                    <button type="submit" id="enviar" class="btn-inicio_sesion">Enviar</button>
                </div>
            </fieldset>
        </div>
        <div>
            <div class="botones">
                <button id="atras" class="mover">Atras</button>
                <button id="siguiente" class="mover fin">Siguiente</button>
            </div>
        </div>
    </form>
</div>
<script type="module" src="../static/js/diseño.js"></script>
{% endblock %}