{% extends "layout.html" %}
{% block content %}

<div class="container">

    {% if mensaje %}
    {{mensaje}}
    {% endif %}

    <form action="/iniciar_sesion" id="form-inicio_sesi" class="form-inicio_sesi" method="post">

        <div class="datos">

            <fieldset class="fieldactive">

                <div class="izquierda">
                    <h3>Inicio de sesion</h3>
                    <p>Correo Electronico:</p>
                </div>

                <div class="derecha">

                    <div class="texto"> Ingrese un correo electronico que sea de su propiedad para evitar problemas
                        posteriormente</div>
                    {% if mensaje1 %}
                    <div class="error">{{ mensaje2 }}</div>
                    {% endif %}
                    <input type="email" name="correo" id="correo"
                        value="{{ form_data['correo'] if form_data['correo'] else '' }}" required>

                </div>
            </fieldset>

            <fieldset class="">

                <div class="izquierda">
                    <h3>Inicio de sesion</h3>
                    <p>Nombre de usuario:</p>
                </div>

                <div class="derecha">

                    <div class="texto">Ingrese el apodo con el que se registro</div>
                    {% if mensaje2 %}
                    <div class="error">{{ mensaje2 }}</div>
                    {% endif %}
                    <input type="text" name="nombre_usuario" id="nombre_usuario"
                        value="{{ form_data['nombre_usuario'] if form_data['nombre_usuario'] else '' }}" required>

                </div>
            </fieldset>

            <fieldset class="">

                <div class="izquierda">
                    <h3>Inicio de sesion</h3>
                    <p>Contraseña:</p>
                </div>

                <div class="derecha">

                    <div class="texto">Ingrese la contraseña con la que se registro</div>
                    {% if mensaje3 %}
                    <div class="error">{{ mensaje2 }}</div>
                    {% endif %}
                    <input type="password" name="contraseña" id="contraseña" class="contraseña"
                        value="{{ form_data['contraseña'] if form_data['contraseña'] else '' }}" required>
                    <button type="button" id="togglePasswordButton" class="mostrar">Mostrar</button>

                    <button type="submit" id="enviar" class="btn-inicio_sesion">Enviar</button>
                </div>
            </fieldset>
        </div>
        <div>
            <div class="botones">
                <button id="atras" class="mover">Atras</button>
                <button id="siguiente" class="mover fin">Siguiente</button>
            </div>
            <div class="centrar-texto">
                <button id="btn-cambio"><a href="/registro">Registrate si aun no lo has hecho</a></button>
            </div>
        </div>
    </form>
</div>
<script src="../static/js/diseño.js"></script>
{% endblock %}