{% extends "layout.html" %}

{% block content %}
<div class="container">
    <form action="/registration" name="form-registro" id="form-registro" class="form-registro" method="post">

        <div class="datos">
            <fieldset class="fieldactive">
                <div class="izquierda">
                    <h3>Knowledge Field</h3>
                    <h3>Registro</h3>
                </div>

                {% if mensaje %}
                <div class="error">{{ mensaje }}</div>
                {% endif %}

                <div class="derecha">
                    {% if mensaje01 %}
                    <div class="error">{{ mensaje01 }}</div>
                    {% endif %}
                    <div class="alminp">
                        <input class="input" type="text" name="names" id="names" class="input"
                            value="{{ form_data['names'] if form_data['names'] else '' }}" placeholder=" ">
                        <label for="names">Nombre(s)</label>
                    </div>
                    {% if mensaje02 %}
                    <div class="error">{{ mensaje02 }}</div>
                    {% endif %}
                    <div class="alminp">
                        <input class="input" type="text" name="surnames" id="surnames" class="input"
                            value="{{ form_data['surnames'] if form_data['surnames'] else '' }}" placeholder=" ">
                        <label for="surnames">Apellido(s)</label>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="izquierda">
                    <h3>Knowledge Field</h3>
                    <h3>Registro</h3>
                </div>
                <div class="derecha">
                    {% if mensaje1 %}
                    <div class="error">{{ mensaje1 }}</div>
                    {% endif %}
                    <div class="alminp">
                        <input class="input" type="text" name="username" id="username" class="input"
                            value="{{ form_data['username'] if form_data['username'] else '' }}"
                            placeholder=" ">
                        <label for="username">Nombre de Usuario</label>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="izquierda">
                    <h3>Knowledge Field</h3>
                    <h3>Registro</h3>
                    <p></p>
                </div>
                <div class="derecha">
                    {% if mensaje2 %}
                    <div class="error">{{ mensaje2 }}</div>
                    {% endif %}
                    <div class="alminp">
                        <input class="input" type="text" name="phone_number" id="phone_number" class="input"
                            value="{{ form_data['phone_number'] if form_data['phone_number'] else '' }}" placeholder=" ">
                        <label for="phone_number">Teléfono</label>
                    </div>
                    {% if mensaje3 %}
                    <div class="error">{{ mensaje3 }}</div>
                    {% endif %}
                    <div class="alminp">
                        <input class="input" type="text" name="email" id="email" class="input"
                            value="{{ form_data['email'] if form_data['email'] else '' }}" placeholder=" ">
                        <label>Correo</label>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="izquierda">
                    <h3>Knowledge Field</h3>
                    <h3>Registro</h3>
                </div>
                <div class="derecha">
                    {% if mensaje4 %}
                    <div class="error">{{ mensaje4 }}</div>
                    {% endif %}
                    <div class="alminp"><input type="password" name="password" id="password" class="input1"
                            placeholder=" ">
                        <label for="password">password</label>
                        <button type="button" id="togglePasswordButton" class="mostrar"></button>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="izquierda">
                    <h3>Knowledge Field</h3>
                    <h3>Registro</h3>
                </div>
                <div class="derecha">
                    {% if mensaje4 %}
                    <div class="error">{{ mensaje4 }}</div>
                    {% endif %}
                    <div class="alminp"><input type="password" name="confirm_password" id="confirm_password" class="input1"
                            placeholder=" ">
                        <label for="password">Confirmar password</label>
                        <button type="button" id="togglePasswordButton" class="mostrar"></button>
                    </div>
                    <button type="submit" id="enviar" class="btn-registrarse">Confirmar registro</button>
                </div>
            </fieldset>
        </div>

        <div class="botones">
            <button id="atras" class="mover">Atrás</button>
            <button id="siguiente" class="mover fin">Siguiente</button>
        </div>
    </form>
</div>

<!-- Script para diseño -->
<script type="module" src="../static/js/design.js"></script>
{% endblock %}