{% extends "layout.html" %}

{% block content %}
<div class="container">

    <form action="/registro" name="form-registro" id="form-registro" class="form-registro" method="post">
        <div class="datos">
            <fieldset class="fieldactive">

                <h3>¿En que nivel de estudios se encuentra?</h3>

                <div class="role-selection" id="role-selection">

                    <label class="radio" for="checkbox1">
                        <span class="label">Básico</span>
                        <input type="radio" name="nivel" checked="true" id="basico" value="basico">
                        <span class="checkmark"></span>
                    </label>

                    <label class="radio" for="checkbox2">
                        <span class="label">Medio Superior</span>
                        <input type="radio" name="nivel" checked="true" id="medio-superior" value="medio superior">
                        <span class="checkmark"></span>
                    </label>

                    <label class="radio" for="checkbox2">
                        <span class="label">Superior</span>
                        <input type="radio" name="nivel" checked="true" id="superior" value="superior">
                        <span class="checkmark"></span>
                    </label>

                </div>
            </fieldset>
            <fieldset>

                <label for="nombres">Nombre(s):</label>
                <input class='input' type="text" name="nombres" id="nombres"
                    placeholder="Ingrese sus nombres" required>

                <label for="apellidos">Apellido(s):</label>
                <input class='input' type="text" name="apellidos" id="apellidos"
                    placeholder="Ingrese sus apellidos" required>

            </fieldset>
            <fieldset>

                <label for="apodo">Nombre de usuario:</label>
                <input class='input' type="text" name="apodo" id="apodo"
                    placeholder="Ingrese un nombre de usuario" required>

            </fieldset>
            <fieldset>

                <label for="telefono">Teléfono:</label>
                <input class='input' type="text" name="telefono" id="telefono"
                    placeholder="Ingrese su número de teléfono" required>

                <label for="correo">Correo:</label>
                <input class='input' type="email" name="correo" id="correo"
                    placeholder="Ingrese su correo institucional" required>

            </fieldset>
            <fieldset>
                <label for="contraseña">Contraseña:</label>
                <input class='input' type="password" name="contraseña" id="contraseña"
                    placeholder="Ingrese su contraseña" required>

                <label for="confirmcontra">Confirmar contraseña:</label>
                <input class='input' type="password" name="confirmcontra" id="confirmcontra"
                    placeholder="Confirme su contraseña" required>

            </fieldset>


        </div>
        <div class="botones">
            <center>
                <button type="submit" id="registrarse" class="btn-registrarse">Confirmar registro</button>
            </center>

            <button id="atras" class="mover">Atras</button>
            <button id="siguiente" class="mover">Siguiente</button>
        </div>

    </form>
</div>

<script src="../static/js/validacionesRegistro.js"></script>
<script src="../static/js/diseño.js"></script>
<link rel="stylesheet" href="/static/styles/style.css" />
{% endblock %}