{% extends "layout.html" %}

{% block content %}
<div class="container">

    <form action="/vericorreo_registro" name="form-vericorreo_registro" class="form-vericorreo_registro" method="post">
        
        <div class="datos">
            
            <fieldset class="fieldactive">
                
                <div class="izquierda">
                    <h3>Ingrese el codigo que fue enviado por el correo que nos proporciono:</h3>
                    <p>Codigo:</p>
                </div>

                <div class="derecha">

                    <input type="text" name="codigo" class="input">
                    <button type="submit" id="enviar" class="btn-registrarse1">Verificar</button>

                </div>
            </fieldset>
        </div>
    </form>
</div>

{% endblock %}