{% extends "layout.html" %}
{% block content %}
<div class="container">

    <form action="/vericorreo_acceso" name="form-vericorreo_acceso" class="form-vericorreo_acceso" method="post">

        <div class="datos">

            <fieldset class="fieldactive">

                <div class="izquierda">
                    <h3>Ingrese el codigo que fue enviado a su correo:</h3>
                    <p>Codigo:</p>
                </div>

                <div class="derecha">

                    <div class="alminp">
                        <input type="text" name="codigo" class="input" placeholder="">
                        <label for="Codigo">Codigo</label>
                    </div>
                    <button type="submit" id="enviar" class="btn-registrarse1">Verificar</button>

                </div>
            </fieldset>

        </div>

    </form>

</div>
{% endblock %}