{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h2 class="form-title">Complete los siguientes campos para su registro en P2P:</h2>

    <form action="/registro" name="form-registro" id="form-registro" class="form-registro" method="post">
        <h4>¿Qué desea ser?</h4>
        <div class="role-selection">

            
            <label class="radio" for="checkbox1">
                <span class="label">Básico</span>
                <input type="radio" name="basico"  id="nivel" value="basico">
                <span class="checkmark"></span>
            </label>

            <label class="radio" for="checkbox2">
                <span class="label">Medio Superior</span>
                <input type="radio" name="medio-superior" id="nivel" value="medio-superior">
                <span class="checkmark"></span>
            </label>

            <label class="radio" for="checkbox2">
                <span class="label">Superior</span>
                <input type="radio" name="superior" id="nivel" value="superior">
                <span class="checkmark"></span>
            </label>


        </div>

        <label for="nombres">Nombre(s):</label>
        <input class='input' type="text" name="nombres" id="nombres" placeholder="Ingrese sus nombres" required>

        <label for="apellidos">Apellido(s):</label>
        <input class='input' type="text" name="apellidos" id="apellidos" placeholder="Ingrese sus apellidos" required>

        <label for="apodo">Nombre de usuario:</label>
        <input class='input' type="text" name="apodo" id="apodo" placeholder="Ingrese un nombre de usuario" required>

        <label for="telefono">Teléfono:</label>
        <input class='input' type="text" name="telefono" id="telefono" placeholder="Ingrese su número de teléfono" required>

        <label for="correo">Correo:</label>
        <input class='input' type="email" name="correo" id="correo" placeholder="Ingrese su correo institucional" required>

        <label for="contraseña">Contraseña:</label>
        <input class='input' type="password" name="contraseña" id="contraseña" placeholder="Ingrese su contraseña" required>

        <label for="confirmcontra">Confirmar contraseña:</label>
        <input class='input' type="password" name="confirmcontra" id="confirmcontra" placeholder="Confirme su contraseña"  required>

        <center>
        <button type="submit" id="registrarse" class="btn-registrarse">Confirmar registro</button>
        </center>

    </form>
</div>
{% endblock %}