{% extends "layout.html" %}
{% block content %}

<form method="post" class="botones">
    <h3>Entra a la sala</h3>

    <div>
        <label>nombre:</label>
        <input 
        type="text"
         placeholder="ingresa tu nombre"
          name="nombre"
           value="{{nombre}}" />
    </div>
    <div class="unirse">

        <input type="text" placeholder="codigo de sala" name="codigo" value="{{codigo}}">
        <button type="submit" name="unirse" class="unirse">unirse a Sala</button>

        <button type="submit" name="crear" class="crear-btn">Crear sala</button>
    </div>

    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}

</form>

{% endblock %}