{% extends "layout.html" %}
{% block content %}

<div class="mensaje-cuadro">
  <h2>Chat Sala: {{codigo}}</h2>
  <div class="mensajes" id="mensajes"></div>
  <div class="inputs">
    <input type="text" rows="3" placeholder="Mensaje" name="mensaje" id="mensaje" />
    <button type="button" name="enviar" id="enviar-btn" onclick="enviarMensaje()">
      Enviar
    </button>
  </div>
</div>
<script type="text/javascript">
  var socketio = io();

  const mensajes = document.getElementById("mensajes");
  console.log(mensajes)

  const crearMensaje = (nombre, mnsj) => {
    const content = `
      <div class="texto">
          <span>
              <strong>${nombre}</strong>: ${mnsj}
          </span>
          <span class="sordear">
              ${new Date().toLocaleString()}
          </span>
      </div>
      `;
    mensajes.insertAdjacentHTML("beforeend", content);
  };

  socketio.on("mensaje", (data) => {
    crearMensaje(data.nombre, data.mensaje);
  });

  const enviarMensaje = () => {
    const mensaje = document.getElementById("mensaje");
    if (mensaje.value == "") return;
    socketio.emit("mensaje", { data: mensaje.value });
    mensaje.value = "";
  };
</script>
{% for mnsj in mensajes %}
<script type="text/javascript">
  crearMensaje("{{mnsj.nombre}}", "{{mnsj.mensaje}}");
</script>
{% endfor %}

{% endblock %}