{% extends "layout.html" %}
{% block content %}

<div class="mensaje-cuadro">
  <h2>Chat Sala: {{codigo}}</h2>
  <div class="mensajes" id="mensajes"></div>
  <div class="inputs">
    <input type="text" placeholder="Mensaje" name="mensaje" id="mensaje" />
    <button type="button" name="enviar" id="btnEnviar" class="btnEnviar">
      Enviar
    </button>
  </div>
</div>
{% for mnsj in mensajes %}

<div id="mensajes-container"
 data-nombre="{{mnsj.nombre}}" 
 data-mensaje="{{mnsj.mensaje}}">
</div>

{% endfor %}

{% endblock %}