{% extends "layout.html" %}
{% block content %}

<div class="mensaje-cuadro">
  <h2>Chat Sala: {{codigo}}</h2>
  <div class="mensajes" id="mensajes">
    {% for mnsj in mensajes %}
    <div class="text">
      <span><strong>{{mnsj[2]}}</strong>: {{mnsj[4]}}</span>
      <span class="muted">{{mnsj[5]}} {{mnsj[6]}}</span>
    </div>
    {% endfor %}
  </div>
  <form class="inputs" id="form-enviar">
    <input required type="text" placeholder="Mensaje" name="mensaje" id="mensaje" />
    <button type="submit" name="enviar" id="btnEnviar" class="btnEnviar">
      Enviar
    </button>
  </form>
</div>

<!--div id="mensajes-container"

 data-nombre="" 
 data-mensaje=""
 
 >
</div-->


{% endblock %}